/* Security Specific Styles */

.holographic-glow {
    filter: drop-shadow(0 0 20px rgba(255, 180, 171, 0.4));
}

@keyframes scan {
    0% { transform: translateY(0vh); opacity: 0; }
    5% { opacity: 1; }
    95% { opacity: 1; }
    100% { transform: translateY(400px); opacity: 0; }
}
